<div style="text-align: center;">
    <h1>Welcome to the Multiplication Table! ×</h1>

    <img src="{{ url_for('static', filename='blackboard-inscribed-with-scientific-formulas-calculations.jpg') }}" width="300" style="margin-top: 20px;">
</div>

<div style="
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
">

    <a href="/table/1"><button style="width: 200px; height: 50px; margin: 5px;">Table 1</button></a>
    <a href="/table/2"><button style="width: 200px; height: 50px; margin: 5px;">Table 2</button></a>
    <a href="/table/3"><button style="width: 200px; height: 50px; margin: 5px;">Table 3</button></a>
    <a href="/table/4"><button style="width: 200px; height: 50px; margin: 5px;">Table 4</button></a>
    <a href="/table/5"><button style="width: 200px; height: 50px; margin: 5px;">Table 5</button></a>
    <a href="/table/6"><button style="width: 200px; height: 50px; margin: 5px;">Table 6</button></a>
    <a href="/table/7"><button style="width: 200px; height: 50px; margin: 5px;">Table 7</button></a>
    <a href="/table/8"><button style="width: 200px; height: 50px; margin: 5px;">Table 8</button></a>
    <a href="/table/9"><button style="width: 200px; height: 50px; margin: 5px;">Table 9</button></a>
    <a href="/table/10"><button style="width: 200px; height: 50px; margin: 5px;">Table 10</button></a>

</div>