<div style="text-align: center; font-size: 60px;">
    <h1>9 x 1 = 9</h1>
    <h1>9 x 2 = 18</h1>
    <h1>9 x 3 = 27</h1>
    <h1>9 x 4 = 36</h1>
    <h1>9 x 5 = 45</h1>
    <h1>9 x 6 = 54</h1>
    <h1>9 x 7 = 63</h1>
    <h1>9 x 8 = 72</h1>
    <h1>9 x 9 = 81</h1>
    <h1>9 x 10 = 90</h1>
</div>

<div style="
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
">

    <a href="/"><button style="width: 200px; height: 50px; margin: 5px;">BACK</button></a>
</div>
#