<div style="text-align: center; font-size: 60px;">
    <h1>10 x 1 = 10</h1>
    <h1>10 x 2 = 20</h1>
    <h1>10 x 3 = 30</h1>
    <h1>10 x 4 = 40</h1>
    <h1>10 x 5 = 50</h1>
    <h1>10 x 6 = 60</h1>
    <h1>10 x 7 = 70</h1>
    <h1>10 x 8 = 80</h1>
    <h1>10 x 9 = 90</h1>
    <h1>10 x 10 = 100</h1>
</div>

<div style="
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
">

    <a href="/"><button style="width: 200px; height: 50px; margin: 5px;">BACK</button></a>
</div>
#